/* === GLOBAL === */
body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  overflow: hidden;
}

aside {
  width: 25%;
  height: 100%;
  background-color: #e6e6e6;
  float: left;
  overflow-y: auto;
  position: relative;
}

main {
  width: 75vw;
  height: 100vh;
  float: right;
  background-image: url('../css/nebula3.jpg');
  background-repeat: no-repeat;
  background-size: cover;               /* Scale to fill main, may crop edges */
  background-position: 1% bottom;   /* Prioritize lower part (with credits) */
  background-color: black;
  background-attachment: local;
  overflow: hidden;
  position: relative;
}

/* === SIDEBAR === */
#avatar {
  border-radius: 50%;
  width: 180px;
  height: auto;
  max-width: 20vw;
  display: block;
  margin: 10% auto 0 auto;
}

figcaption {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  opacity: 0.9;
}

#podpis {
  text-align: center;
  font-size: 15px;
}

nav {
  margin-top: 30%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Book Antiqua', serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 15px 0;
}

.sublist {
  font-size: 12px;
  text-transform: none;
  font-weight: normal;
}

/* === NAV LINKS === */
ul a {
  text-decoration: none;
  color: black;
  position: relative;
  display: inline-block;
}

ul a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #002b80;
  transition: 0.4s;
}

ul a:hover:after {
  width: 100%;
}

ul a.selected {
  border-bottom: 1px solid #002b80;
}
ul a.selected:hover:after {
  width: 0%;
}

/* === SOCIAL MEDIA === */
.fa, .ai {
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  color: black;
}

.fa:hover, .ai:hover {
  opacity: 0.7;
}

#follow {
  text-align: center;
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

/* === PAGE HEADER === */
#page_header {
  height: 30%;
  width: 100%;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-top: 9%;
}

/* === MAIN CONTENT BOX === */
#content_box {
  height: 70%;
  width: 60%;
  font-size: 18px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 20%;
  text-align: justify;
  overflow-y: auto;
  padding: 1rem;
}

#content_box.cv {
  height: 100%;
  color: #A4A4A4;
  overflow-y: scroll;
  font-size: 20px;
}

/* === CV IMAGE DISPLAY === */
#cv {
  background-color: black;
  opacity: 0.9;
  padding-bottom: 2rem;
}

.cv_page {
  display: block;
  margin: 0 auto 2rem auto;
  max-width: 100%;
  height: auto;
}

/* === SCROLLBAR === */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #5B595D;
  border-radius: 5px;
}

